*:before,
*:after {
  z-index: -1;
}

@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
/* keyframes */
@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 475px;
    height: 475px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 475px;
    height: 475px;
  }
}
.btn-animation {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  border: 1px solid currentColor;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: black;
  font-size: 15px;
}

.btn-animation.collision.color1 {
  position: relative;
  color: #7c473d;
  background-color: #7c473d1e;
}
.btn-animation.collision.color1:before,
.btn-animation.collision.color1:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #7c473d;
  border-radius: 50%;
}

.btn-animation.collision.color2 {
  position: relative;
  color: #9e3920;
  background-color: #9e39201f;
}
.btn-animation.collision.color2:before,
.btn-animation.collision.color2:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #9e3920;
  border-radius: 50%;
}

.btn-animation.collision.color3 {
  position: relative;
  color: #bd7329;
  background-color: #bd732923;
}
.btn-animation.collision.color3:before,
.btn-animation.collision.color3:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #bd7329;
  border-radius: 50%;
}

.btn-animation.collision.color4 {
  position: relative;
  color: #4D6262;
  background-color: #4d626223;
}
.btn-animation.collision.color4:before,
.btn-animation.collision.color4:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #4D6262;
  border-radius: 50%;
}

.btn-animation.collision:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-animation.collision:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.btn-animation.collision:hover {
  color: white;
}

a.btn-animation:hover {
  color: white; /* Cambia esto al color que desees */
}

.btn-animation.collision:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: white;
}
.btn-animation-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: white;
}

.renovables,
.renovables:hover {
  border: 2px solid #f2ac34;
  background-color: #f2ac34;
  color: white;
  margin-top: 5px;
}

.cambio-climatico,
.cambio-climatico:hover {
  border: 2px solid #c2cdcd;
  background-color: #c2cdcd;
  color: white;
  margin-top: 5px;
}

.movilidad-electrica,
.movilidad-electrica:hover {
  border: 2px solid #015c6b;
  background-color: #015c6b;
  color: white;
  margin-top: 5px;
}

.planes-desarrollo,
.planes-desarrollo:hover {
  border: 2px solid #d24c2b;
  background-color: #d24c2b;
  color: white;
  margin-top: 5px;
}

.gas,
.gas:hover {
  border: 2px solid #7c473d;
  background-color: #7c473d;
  color: white;
  margin-top: 5px;
}

.reforma-tributaria,
.reforma-tributaria:hover {
  border: 2px solid #bf9b90;
  background-color: #bf9b90;
  color: white;
  margin-top: 5px;
}

.renovables,
.renovables:hover {
  border: 2px solid #f2ac34;
  background-color: #f2ac34;
  color: white;
  margin-top: 5px;
}

.cambio-climatico,
.cambio-climatico:hover {
  border: 2px solid #c2cdcd;
  background-color: #c2cdcd;
  color: white;
  margin-top: 5px;
}

.movilidad-electrica,
.movilidad-electrica:hover {
  border: 2px solid #015c6b;
  background-color: #015c6b;
  color: white;
  margin-top: 5px;
}

.planes-desarrollo,
.planes-desarrollo:hover {
  border: 2px solid #d24c2b;
  background-color: #d24c2b;
  color: white;
  margin-top: 5px;
}

.gas,
.gas:hover {
  border: 2px solid #7c473d;
  background-color: #7c473d;
  color: white;
  margin-top: 5px;
}

.reforma-tributaria,
.reforma-tributaria:hover {
  border: 2px solid #bf9b90;
  background-color: #bf9b90;
  color: white;
  margin-top: 5px;
}


.color-principal.active{
  color: #D24C2B !important;
  background-color: #f8eae6 !important;
}

.color-principal:hover{
  color: #D24C2B !important;
  background-color: #f8eae6 !important;
}