*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #163633;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
}

.octagono {
  width: 100px;
  /* Ancho del octágono */
  height: 100px;
  /* Altura del octágono */
  background-color: #163633;
  /* Color de fondo del octágono */
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* Forma del octágono */
  transform: rotate(45deg);
  /* Rotación para obtener un octágono */
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}



.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #163633 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #163633;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #4D6262;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #4D6262 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%);
}

.timeline-heptagon ul li::after {
  clip-path: polygon(50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%);
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.25);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: white;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}


.footer-norma a,p {
  color: rgb(228, 227, 227);
}

.footer-norma a:hover {
  color: white;
  animation: aparecer 1s ease;
}

.items-anios {
  display: flex ;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  color: black;
}

.items-anios .nav-link {
  color: black;
}

.items-anios .nav-link:hover {
  color: #4D6262;
  font-weight: bold;
  animation: pulsar 1s ease infinite;
}

.items-anios .nav-link.active {
  background-color: #4D6262;
  font-weight: bold;
}

.items-anios .nav-link.active:hover {
  background-color: #4D6262;
  font-weight: bold;
  color: white;
}

.btn-referencia-documento:hover {
  animation: pulsar 1s ease infinite;
}


.renovables,
.renovables:hover{
  border: 2px solid #F2AC34;
  background-color: #F2AC34;
  color: white;
  margin-top: 5px;
}

.cambio-climatico,
.cambio-climatico:hover{
  border: 2px solid #C2CDCD;
  background-color: #C2CDCD;
  color: white;
  margin-top: 5px;
}

.movilidad-electrica,
.movilidad-electrica:hover{
  border: 2px solid #015C6B;
  background-color: #015C6B;
  color: white;
  margin-top: 5px;
}

.planes-desarrollo,
.planes-desarrollo:hover{
  border: 2px solid #D24C2B;
  background-color: #D24C2B;
  color: white;
  margin-top: 5px;
}

.gas,
.gas:hover{
  border: 2px solid #7C473D;
  background-color: #7C473D;
  color: white;
  margin-top: 5px;
}

.reforma-tributaria,
.reforma-tributaria:hover{
  border: 2px solid #BF9B90;
  background-color: #BF9B90;
  color: white;
  margin-top: 5px;
}
