*:before,
*:after {
  z-index: -1;
}

@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
/* keyframes */
@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 475px;
    height: 475px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 475px;
    height: 475px;
  }
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.btn-animation {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  border: 1px solid currentColor;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: black;
  font-size: 15px;
}

.btn-animation.collision.color1 {
  position: relative;
  color: #7c473d;
  background-color: #7c473d1e;
}
.btn-animation.collision.color1:before,
.btn-animation.collision.color1:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #7c473d;
  border-radius: 50%;
}

.btn-animation.collision.color2 {
  position: relative;
  color: #9e3920;
  background-color: #9e39201f;
}
.btn-animation.collision.color2:before,
.btn-animation.collision.color2:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #9e3920;
  border-radius: 50%;
}

.btn-animation.collision.color3 {
  position: relative;
  color: #bd7329;
  background-color: #bd732923;
}
.btn-animation.collision.color3:before,
.btn-animation.collision.color3:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #bd7329;
  border-radius: 50%;
}

.btn-animation.collision.color4 {
  position: relative;
  color: #4D6262;
  background-color: #4d626223;
}
.btn-animation.collision.color4:before,
.btn-animation.collision.color4:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #4D6262;
  border-radius: 50%;
}

.btn-animation.collision:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-animation.collision:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.btn-animation.collision:hover {
  color: white;
}

a.btn-animation:hover {
  color: white; /* Cambia esto al color que desees */
}

.btn-animation.collision:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: white;
}
.btn-animation-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: white;
}


.color-principal.active{
  color: #D24C2B !important;
  background-color: #f8eae6 !important;
}

.color-principal:hover{
  color: #D24C2B !important;
  background-color: #f8eae6 !important;
}




@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.btn-referencia-documento:hover {
  animation: pulsar 1s ease infinite;
  color: white;
}

.btn-referencia-documento{
  padding-left: 8px;
}


.renovables,
.renovables:hover {
    border: 4px solid #FC9A36;
}

.cambio-climatico,
.cambio-climatico:hover {
    border: 4px solid #C2CDCD;
}

.eficiencia-energetica,
.eficiencia-energetica:hover {
    border: 4px solid #51902F;
}

.movilidad-electrica,
.movilidad-electrica:hover {
    border: 4px solid #015C6B;
}

.mineria-estrategica,
.mineria-estrategica:hover {
    border: 4px solid #ED7000;
}

.phase-out-combustibles-fosiles,
.phase-out-combustibles-fosiles:hover {
    border: 4px solid #7C473D;
}

.hidrogeno,
.hidrogeno:hover {
    border: 4px solid #345D59;
}

.biocombustibles,
.biocombustibles:hover {
    border: 4px solid #FED7AF;
}

.congeneracion-autogeneracion,
.congeneracion-autogeneracion:hover {
    border: 4px solid #678283;
}

.financiamiento,
.financiamiento:hover {
    border: 4px solid #BF9B90;
}

.marco-habilitante,
.marco-habilitante:hover {
    border: 4px solid #D24C2B;
}

.card-title{
    margin-bottom: 0px;
}