.renovables,
.renovables:hover {
    border: 4px solid #FC9A36;
}

.cambio-climatico,
.cambio-climatico:hover {
    border: 4px solid #C2CDCD;
}

.eficiencia-energetica,
.eficiencia-energetica:hover {
    border: 4px solid #345D59;
}

.movilidad-electrica,
.movilidad-electrica:hover {
    border: 4px solid #F6DBD5;
}

.mineria-estrategica,
.mineria-estrategica:hover {
    border: 4px solid #ED7000;
}

.phase-out-combustibles-fosiles,
.phase-out-combustibles-fosiles:hover {
    border: 4px solid #7C473D;
}

.hidrogeno,
.hidrogeno:hover {
    border: 4px solid #9E3920;
}

.biocombustibles,
.biocombustibles:hover {
    border: 4px solid #4D6262;
}

.congeneracion-autogeneracion,
.congeneracion-autogeneracion:hover {
    border: 4px solid #E7EBEB;
}

.financiamiento,
.financiamiento:hover {
    border: 4px solid #FED7AF;
}

.marco-habilitante,
.marco-habilitante:hover {
    border: 4px solid #D24C2B;
}

.card-title{
    margin-bottom: 0px;
}